@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), local('Ubuntu-Regular'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

body {
    margin:0.62em 1em 0 0.38em;
    overflow:auto;
    font-family:arial, sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', arial, serif;
}
body > header {
    float:left;
    padding:0;
}
body > header h1 {
    color:#F57575;
    font-style:italic;
    font-size:0.8em;
    margin:0.2em 0 0 0.42em;
}
.credit {
    clear:both;
    font-size:0.8em;
    font-style:italic;
    margin:0.2em 0 1em 0.42em;
    width:25%;
    color:#555;
}
section h1, section > h2 {
    font-size:1em;
    padding:0;
    margin:0;
    color:#E49696;
}
section > h2 {
    padding:0 1em;
}

#fluff-wrapper {
    float:left;
    width:25%;
    margin-right:2%;
    padding:0 0 0.42em;
    border:1px solid #FCE3E3;
    background-color:#FEF6F6;
}
#fluff article {
    border-bottom:1px solid #FCE3E3;
    padding:0.5em 0;
    margin:0.5em 0;
}
#fluff-wrapper > h1 {
    display:none;
}
#fluff-wrapper div.img-wrapper {
    width:75px;
    height:75px;
    overflow:hidden;
    margin:0 0.5em 0.5em 0;
}
#fluff-wrapper img {
    width:75px;
}
#fluff-wrapper iframe, #fluff-wrapper object {
    width:100%;
    height:100px;
    overflow:hidden;
}
#fluff-wrapper ul {
    list-style-type:none;
}
#fluff-wrapper blockquote, #fluff-wrapper ul, #fluff-wrapper li {
    margin:0;
    padding:0;
}
#fluff-wrapper input {
    width:100%;
}
#fluff-wrapper h2 {
    margin:0.62em 0 0;
}
#fluff article {
    overflow:hidden;
}
#fluff, #twitter, #flickr, #delicious {
    padding:0 0.8em;
    overflow:auto;
}
#tweets {
    overflow:hidden;
}
#tweets li {
    margin:0.5em 0;
    padding:0.5em 0;
    border-bottom:1px solid #ccc;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#instructions {
    float:right;
    font-size:0.8em;
    width:71%;
}
#instructions > * {
    display:none;
    margin:0 0 0.8em;
}
#instructions h1 {
    cursor:pointer;
    font-weight:normal;
    display:block;
}
#editor-wrapper {
    float:right;
    width:71%;
}
#editor-wrapper h1 {
    display:none;
}
#editor {
    width:100%;
    display:block;
    overflow:hidden;
    min-height:3em;
}

#preview-wrapper {
    float:left;
    margin-top:1.62em;
}
#source-wrapper {
    clear:both;
    display:none;
}

body > footer {
    clear:both;
    font-size:0.8em;
    padding:0.62em 0;
    color:#ccc;
    font-style:italic;
}
